@using Dashboard.Models
@using System.Web.Optimization

<!DOCTYPE html>
<html lang="es" data-bs-theme="auto">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dashboard</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/validaCampos")
    @*@Scripts.Render("~/bundles/chart")*@


    <style>
        .custColor {
            background-color: @ViewBag.CustColor!important;
            border-color: @ViewBag.CustColor!important;
        }
        .custColorLight {
            background-color: @ViewBag.CustColorLight!important;
        }
    </style>
</head>
<body>
    @*Modo claro o modo oscuro*@
    @Html.Partial("~/Views/Shared/_SiteModes.cshtml")
    @*Iconos bootstrap*@
    @Html.Partial("~/Views/Shared/_SiteIcons.cshtml")

    <header class="navbar sticky-top bg-dark flex-md-nowrap p-0 custColor">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="#">@ViewBag.CompanyName</a>
        <div class="col">
            <h3 style="margin-left:1rem;">@ViewBag.PageTitle</h3>
        </div>
        <ul class="navbar-nav flex-row d-md-none">
            <li class="nav-item text-nowrap">
                <button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <svg class="bi"><use xlink:href="#list" /></svg>
                </button>
            </li>
        </ul>
    </header>
    <div class="container-fluid">
        <div class="row">
            @*menu*@
            <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary custColorLight">
                <div class="offcanvas-md offcanvas-end bg-body-tertiary custColorLight" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="sidebarMenuLabel">Company name</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
                        @*active no funciona por que se ocupa scrollspy y este sobrescribe el metodo en toda la pagina*@
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link @(ViewBag.HomeActive ? "active" : "") d-flex align-items-center gap-2"
                                   @(ViewBag.HomeActive ? " aria-current=page" : "")
                                   href="@(ViewBag.BaseUrl + "/Home/Index")">
                                    <svg class="bi"><use xlink:href="#house-fill" /></svg>
                                    Inicio
                                </a>
                            </li>
                            @Html.Partial("~/Views/Shared/Partials/_Menu.cshtml")
                        </ul>
                        <hr class="my-3">
                        <ul class="nav flex-column mb-auto">
                            @if (ViewBag.IsPortalSicUser != "Y")
                            {
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="collapse" role="button" href="#config-collapse">
                                        <svg class="bi"><use xlink:href="#caret-down-fill" /></svg>
                                        Configuraciónes
                                    </a>
                                    <div class="collapse ps-3 show" id="config-collapse">
                                        <ul class="nav flex-column mb-auto">
                                            <li class="nav-item">
                                                <a class="nav-link d-flex align-items-center gap-2" href="@(ViewBag.BaseUrl + "/Account/ChangePwd")">
                                                    <svg class="bi"><use xlink:href="#gear-wide-connected" /></svg>
                                                    Cambiar contraseña
                                                </a>
                                            </li>
                                            @if (@ViewBag.ShowCrud == "Y")
                                            {
                                                <li class="nav-item">
                                                    <a class="nav-link d-flex align-items-center gap-2" href="@(ViewBag.BaseUrl + "/User/index")">
                                                        <svg class="bi"><use xlink:href="#people" /></svg>
                                                        Admin. usuarios
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link d-flex align-items-center gap-2" href="@(ViewBag.BaseUrl + "/DashboardCrud/index")">
                                                        <svg class="bi"><use xlink:href="#graph-up" /></svg>
                                                        Admin. Dashboard
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gap-2" href="@(ViewBag.BaseUrl + "/Account/LogOut")">
                                    <svg class="bi"><use xlink:href="#door-closed" /></svg>
                                    Cerrar sesión
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            @*content*@
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                @if (!Html.ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Error!</strong>  @Html.ValidationSummary(false, "", new { @class = "" })
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js" integrity="sha384-gdQErvCNWvHQZj6XZM0dNsAoY4v+j5P1XDpNkcM3HJG1Yx04ecqIHk7+4VBOCHOG" crossorigin="anonymous"></script>
</body>
</html>