<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/cssLogin")
    @Scripts.Render("~/bundles/jquery")

    <style>
        .custColor {
            background-color: @ViewBag.CustColor!important;
            border-color: @ViewBag.CustColor!important;
        }
        .custColorLight {
            background-color: @ViewBag.CustColorLight!important;
        }
    </style>
</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">
    @*Modo claro o modo oscuro *@
    @Html.Partial("~/Views/Shared/_SiteModes.cshtml")

    <main class="form-signin w-100 m-auto">
        @if (!Html.ViewData.ModelState.IsValid)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Error!</strong>  @Html.ValidationSummary(false, "", new { @class = "" })
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @RenderBody()
    </main>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
