@using Dashboard.Models

@foreach (ModMenu menu in ViewBag.CustomMenu)
{
    if (!menu.isParent)
    {
        <li class="nav-item">
            <a class="@menu.AClassHtml" @menu.AriaCurrentHtml href="@string.Format("{0}/Dashboard/Index?Id={1}", ViewBag.BaseUrl, menu.Id)">
                <svg class="bi"><use xlink:href="@menu.IconoHtml" /></svg>
                @menu.Nombre
            </a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="@menu.AClassHtml" data-bs-toggle="collapse" role="button" @menu.AriaCurrentHtml href="@menu.ParentIDTag">
                <svg class="bi"><use xlink:href="@menu.IconoHtml" /></svg>
                @menu.Nombre
            </a>
            <div class="@menu.DivChildCollapse" id="@menu.ParentID">
                @*<hr class="my-3">*@
                <ul class="nav flex-column mb-auto">
                    @foreach (ModMenuChild child in menu.ChildMenus)
                    {
                        <li class="nav-item">
                            <a class="@child.AClassHtml" @child.AriaCurrentHtml href="@string.Format("{0}/Dashboard/Index?Id={1}", ViewBag.BaseUrl, child.Id)">
                                <svg class="bi"><use xlink:href="@child.IconoHtml" /></svg>
                                @child.Nombre
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </li>
    }
}
